.App {
  text-align: center;
  margin:20px;
}

.solar-container{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-gap:40px;
  
}

.solar-text{
  font-size:28px;
  font-weight:600;

}

@media (max-width:1280px) {
  .solar-container{
    grid-template-columns: repeat(3,1fr);
  }
}

@media (max-width:760px) {
  .solar-container{
    grid-template-columns: repeat(2,1fr);
  }
}

@media (max-width:480px) {
  .solar-container{
    grid-template-columns: repeat(1,1fr);
  }
}